<%= form_for(tournament) do |f| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tournamentname %>
    <%= f.text_field :tournamentname %>
  </div>

  <div class="field">
    <%= f.label :tournamentaddress %>
    <%= f.text_field :tournamentaddress %>
  </div>

  <div class="field">
    <%= f.label :tournamentsport %>
    <%= f.text_field :tournamentsport %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
